form {
    background-color: #ccc;
    padding: 50px;
    border-radius: 15px;
    margin-top: 40%;
}

.container {
    
    margin-top: 40%;
    
}

.container .jumbotron a {
    display: block;
    text-align: center;
}